body

h5 {
	margin-left: 5px;
}

p {
	margin-left: 5px;
}

.button {
	margin-bottom: 10px;
}

.middle-content {
	width: 300px;
	float: left;
	margin-left: 120px;
	margin-top: 10px;

}

.container {}

.header {}

.content {}

.footer {}


.nav-bar{
	width: 840px;
	height: 80px;
	background: #C1272D;
	margin-left: 220px;
}

.left-column {
	float: left;
	margin-left: 210px;
}

.right-column {
	float: right;
	margin-right: 210px;
}
.module-1 {
	width: 200px;
	height: 200px;
	background: lightgrey;
	margin: 10px;
	float: left;
	clear: both;
}

.module-2 {

	width: 200px;
	height: 200px;
	background: lightgrey;
	margin: 10px;
	float: left;
	clear: both;
}

.module-3 {
	width: 200px;
	height: 200px;
	background: lightgrey;
	margin: 10px;
	float: left;
	clear: both;
	
}

.module-4 {
	width: 200px;
	height: 200px;
	background: lightgrey;
	margin: 10px;
	float: right;
	clear: both;
}

.module-5 {
	width: 200px;
	height: 200px;
	background: lightgrey;
	margin: 10px;
	float: right;
	clear: both;
}

.module-6 {
	width: 200px;
	height: 200px;
	background: lightgrey;
	margin: 10px;
	float: right;
	clear: both;
}

